*.iml
.gradle
.kotlin/
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.jks
*.keystore
*.jks
*.keystore
*.idsig
*.apk
CLAUDE.md
keystore.properties

# Markdown files local-only (except README)
*.md
!README.md
